<html lang="en" moznomarginboxes mozdisallowselectionprint>

<head>
    <title>Faktur Penjualan Barang</title>
    <meta charset="utf-8">
    <style>
        /* @font-face {
            font-family: 'Dot Matrix';
            src: url('{{ url('/') }}/themes/default/fonts/DotMatrix/DotMatrixBold.woff2') format('woff2'),
                url('{{ url('/') }}/themes/default/fonts/DotMatrix/DotMatrixBold.woff') format('woff');
            font-weight: bold;
            font-style: normal;
        }

        @font-face {
            font-family: 'Dot Matrix';
            src: url('{{ url('/') }}/themes/default/fonts/DotMatrix/DotMatrix.woff2') format('woff2'),
                url('{{ url('/') }}/themes/default/fonts/DotMatrix/DotMatrix.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        } */
        body{
            font-family: 'Tahoma';
        }

        @media print {
            @page {
                margin: 0;
            }
            td{
                font-size: 12px;
            }

            body {
                margin: 5px;
                font-family: 'Tahoma';
                font-weight: normal;
                font-style: normal;
            }
            .hide{
                display: none;
            }
            .page1 {page-break-inside: avoid !important; }
        }
    </style>
</head>
<!--<body onload="window.print()">-->

<body >

    @foreach ($post_list as $p)
    <div id="laporan">

        <table align="center" style="width:800px; position: relative; margin-left:auto; margin-right:auto; border-bottom:3px double;border-top:none;border-right:none;border-left:none;margin-top:5px;margin-bottom:10px;">
            <!--<tr>
    <td><img src="<?php // echo base_url().'assets/img/kop_surat.png'
                    ?>"/></td>
</tr>--><tr>
        <td><a class="hide" href="#" onclick="window.print()" style="position: absolute; top:0; right:0"><img src="{{ url('/') }}/themes/default/img/print.png"></a></td>
        </tr>
        </table>

        <table border="0" align="center" style="width:800px; border:none;margin-top:5px;margin-bottom:0px;">
            <tr>

            </tr>

        </table>
        <table border="0" align="center" style="width:800px;border:none; line-height:13px; font-size:13px;">
            <tr>
                <td rowspan="6">
                    <img src="{{ url('/') }}/themes/default/img/logo.png">
                </td>
            </tr>
            <tr>
                <th style="text-align:left;">Toko PT. Semar Tidar Medika</th>
                <th style="text-align:left;">No Faktur</th>
                <th style="text-align:left;">: {{$p->jual_nofak}}</th>
            </tr>
            <tr>
                <th style="text-align:left;">Jl. Blabak Sawangan Km 1.1, Tapen, Pagersari, Blabak, Magelang</th>
                <th style="text-align:left;">Tanggal</th>
                <th style="text-align:left;">: {{$p->jual_tanggal}}</th>
            </tr>
            <tr>
                <th style="text-align:left;">(0293) 7184563</th>
                <th style="text-align:left;">Keterangan</th>
                <th style="text-align:left;">: {{$p->jual_keterangan}}</th>
            </tr>
             <tr>
                <th style="text-align:left;"></th>
                <th style="text-align:left;">Kasir</th>
                <th style="text-align:left;">: {{$p->first_name.' '.$p->last_name}}</th>
            </tr>
            <tr>
                <th style="text-align:left;"></th>
                <th style="text-align:left;">Customer</th>
                <th style="text-align:left;">: {{$p->jual_customer}}</th>
            </tr>
            <tr>
                <th style="text-align:left;"></th>
                <th style="text-align:left;">Seller</th>
                <th style="text-align:left;">: {{$p->jual_seller}}</th>
            </tr>
        </table>
        <div style="max-width:800px; margin:5px auto 5px; border-top:1px dotted #000;"></div>
        <table border="0" align="center" style="width:800px;margin-bottom:20px; line-height:15px;font-size:13px;">
            <thead>

                <tr>
                    <th style="width:50px; border-bottom:1px dotted #000; padding-bottom:0; font-size:13px;">No</th>
                    <th style="border-bottom:1px dotted #000; padding-bottom:0; font-size:13px;">Nama Barang</th>
                    <th style="border-bottom:1px dotted #000; padding-bottom:0; font-size:13px;">Satuan</th>
                    <th style="border-bottom:1px dotted #000; padding-bottom:0; font-size:13px;">Harga Jual</th>
                    <th style="border-bottom:1px dotted #000; padding-bottom:0; font-size:13px;">Qty</th>
                    <th style="border-bottom:1px dotted #000; padding-bottom:0; font-size:13px;">Diskon</th>
                    <th style="border-bottom:1px dotted #000; padding-bottom:0; width:19%;  font-size:13px;">SubTotal</th>
                </tr>
            </thead>
            <tbody>
                @php
                $i=0;
                $total = array();
                @endphp
                @foreach (App\Sellingdetail::where('jual_id','=',$p->jual_id)->get() as $value => $key)
                @php
                $i++;
                $diskon[] = $key->d_jual_diskon;
                $total[] = $key->d_jual_qty*$key->d_jual_barang_harjul-$key->d_jual_diskon;
                @endphp
                    <tr @if($i==10) class="page1" @endif>
                        <td style="text-align:center; padding: 0 0 ;">{{$value+1}}</td>
                        <td style="text-align:left; padding: 0 0 ">{{$key->d_jual_barang_nama}}</td>
                        <td style="text-align:center; padding: 0 0 ">{{$key->d_jual_barang_satuan}}</td>
                        <td style="text-align:right; padding: 0 0 ">{{$key->d_jual_barang_harjul}}</td>
                        <td style="text-align:center; padding: 0 0 ">{{$key->d_jual_qty}}</td>
                        <td style="text-align:right; padding: 0 0 ">{{$key->d_jual_diskon}}</td>
                        <td style="text-align:right; padding: 0 0 ">{{currency($key->d_jual_qty*$key->d_jual_barang_harjul-$key->d_jual_diskon)}}</td>
                    </tr>

                @endforeach
                @php
                $ppn = ($p->jual_transport!='') ? $p->jual_transport : 0; 
                $total_ = ($ppn*array_sum($total))/100;
                @endphp
            </tbody>
            <tfoot>

                <tr>
                    <td></td>
                    <td rowspan="4" colspan="2" style="text-align: center">Tanda Terima</td>
                    <td colspan="3" style="text-align:right; padding-bottom:0; font-size: 17px;">Total</td>
                    <td style="text-align:right; padding-bottom:0; font-size: 15px;">{{'Rp ' . currency(array_sum($total))}}</td>
                </tr>
                <tr>
                    <td colspan="6" style="text-align:right; padding-bottom:0;">T</td>
                    <td style="text-align:right; padding-bottom:0;">: {{'Rp ' . currency($total_)}}</td>
                </tr>
                <tr>
                    <td colspan="6" style="text-align:right; padding-bottom:0;">Bayar</td>
                    <td style="text-align:right; padding-bottom:0;">: {{'Rp ' . currency($p->jual_jml_uang)}}</td>
                </tr>
                <tr>
                    <td colspan="6" style="text-align:right; padding-bottom:0;">Kembalian</td>
                    <td style="text-align:right; ">: {{'Rp ' . currency($p->jual_jml_uang-(array_sum($total)+$total_))}}</td>
                </tr>
            </tfoot>
        </table>
        <table style="width:800px; margin-left:auto; margin-right:auto; border:none;margin-bottom:20px;">
            <tr>
                <td>
                    <table align="center" width="100%">
                        <tr>
                            <td align="right"></td>
                        </tr>
                    </table>
                </td>
                <td style="text-align: right; width:40%;">
                    <table align="center" width="100%">
                        <tr>
                            <td align="right">Parakan, {{date('d-M-Y')}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div style="width:100%; text-align:center; font-size:12px; font-family: 'Tahoma';">NPWP : Semar Tidar Medika - 63.602.604.9-524.000<br>Rekening : (BNI) Semar Tidar Medika - 2070220225</div>

        <table align="center" style="width:800px; border:none;margin-top:0;margin-bottom:20px;">
            <tr>
                <th><br /><br /></th>
            </tr>
            <tr>
                <th align="left"></th>
            </tr>
        </table>
    </div>
    @endforeach
</body>

</html>
